body {
	font-size: 100%;
	font-family: $font-family;
	background: $white;
	width: 100%;
	min-height: 100vh;
	position: relative;
	overflow-x: hidden;
	font-weight: 400;
	line-height: 1.5;
	text-align: left;
	&.no-scroll {
		overflow: hidden;
	}
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'SF Pro Text';
}
h1 {
	font-size: 2.5rem;
} 
h2 {
	font-size: 2rem;
}
h3 {
	font-size: 1.75rem;
}
h4 {
	font-size: 1.5rem;
}
h5 {
	font-size: 1.25rem;
}
h6 {
	font-size: 1rem;
}