//colors
$white: #fff;
$grey-lighter: #F1F1F1;
$alta-purple: #4A154B;
$light-purple: #9B51E0;
$grey-darker: #252527;
$green: #1AC222;
$blue-link: #2DA5EC;
$grey-bg: #FAFAFA;
$text-dark: #333333;
$text-darker: #211E20;


//font
$font-family: 'SF Pro Text';

$base-font-size: 100%;

// Responsiveness sizes
$mobile: "screen and (max-width: 600px)";
$tablet-max: "screen and (max-width: 980px)";
$tablet: "(min-width: 600px) and (max-width: 980px)";
$desktop: "screen and (min-width: 1120px)";


